Repository socratools/socranop: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, contrib, manpages, dictionary, pipenv-setup, pytest

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: flake8
    name: Run flake8
    language: system
    entry: flake8
    types: [file, python]
  - id: black
    name: Run black code-formatter
    language: system
    entry: black
    types: [file, python]
  - id: contrib
    name: Update contributors.py from CONTRIBUTORS.md
    language: system
    entry:  tools/contrib_to_about
    args: [--git-add]
    pass_filenames: false
    files: CONTRIBUTORS.md
  - id: find-mistakes
    name: Find mistakes in the sources
    language: system
    entry: bash tools/find-mistakes
    pass_filenames: false
  - id: manpages
    name: Update manpages from markdown source files
    language: system
    entry:  tools/update-man-pages
    pass_filenames: false
    files: PERMISSIONS.(md|meta)
  - id: dictionary
    name: Keep the dictionary file sorted
    language: system
    entry:  tools/sort-dictionary
    pass_filenames: true
    files: .private-dictionary.txt
  - id: pipenv-setup
    name: Sync pipfile dependency changes to setup.py
    language: system
    entry: pipenv-setup
    args: [sync, --pipfile]
    pass_filenames: false
    files: Pipfile
  - id: pytest
    name: Run unit tests
    language: system
    entry: pytest
    pass_filenames: false
    files: ^(socranop|test)/
    types: [file, python]

ci: Update actions/checkout from @v2 to @v4
  .github/workflows/commit-checks.yaml
  .github/workflows/publish_pypi_release.yml
  .github/workflows/python-package.yml
Due: none

ci: Update actions/setup-python from @v1, @v2 to @v5
  .github/workflows/commit-checks.yaml
  .github/workflows/publish_pypi_release.yml
  .github/workflows/python-package.yml
Due: none

ci: Rename pre-commit hook check to pre-commit-hooks.yml
  .github/workflows/pre-commit-hooks.yml
Due: none

Fix quoting in comment for pylint spellcheck
  socranop/installtool.py
Due: flake8, black, pytest

Pipfile: Completely remove pipenv-setup
  .github/workflows/pre-commit-hooks.yml
  .pre-commit-config.yaml
  HACKING.md
  Pipfile
Due: pipenv-setup

ci: Add step to commit-checks: dictionary sorting
  .github/workflows/pre-commit-hooks.yml
Due: none

flake8: Ignore a few more things in pre-commit
  .flake8
Due: none

gui: rename all callback functions _cb
  socranop/gui.py
Due: flake8, black, pytest

gui: Make class names less generic
  socranop/gui.py
Due: flake8, black, pytest

LICENSE: Update the years
  LICENSE
Due: none

contrib: Add easy script to restore dev install
  contrib/dev-install
Due: none

it: Make udev reload ruleset before triggering events
  socranop/installtool.py
Due: flake8, black, pytest

it: print removed filenames relative to chroot
  socranop/installtool.py
Due: flake8, black, pytest

Update copyright years in source files
  socranop/cli.py
  socranop/constants.py
  socranop/dbus.py
  socranop/dirs.py
  socranop/gui.py
  socranop/installtool.py
  socranop/notepad.py
Due: flake8, black, pytest

LICENSE: Fix typo in my name
  LICENSE
Due: none

it: Install Appstream .metainfo.xml file
  socranop/data/appstream/socranop.metainfo.xml
  socranop/installtool.py
Due: flake8, black, pytest

dirs: Fix force_prefix handling
  socranop/dirs.py
Due: flake8, black, pytest

gui: Add keyboard accels for About and Quit
  README.md
  socranop/gui.py
Due: flake8, black, pytest

gui: Print message about D-Bus disconnect
  socranop/gui.py
Due: flake8, black, pytest

Update source files with file descriptions headers
  socranop/__init__.py
  socranop/cli.py
  socranop/common.py
  socranop/constants.py
  socranop/dbus.py
  socranop/dirs.py
  socranop/gui.py
  socranop/notepad.py
Due: flake8, black, pytest

gui: Add "About socranop" button to the HeaderBar
  README.md
  doc/img/gui-screenshot-no-device-found.png
  doc/img/gui-screenshot-notepad-12fx-with-dropdown.png
  doc/img/gui-screenshot-notepad-12fx.png
  doc/img/gui-screenshot-with-about-button-tooltip.png
  images/gui-screenshot-with-dropdown.png
  images/gui-screenshot.png
  socranop/gui.py
Due: flake8, black, pytest

cli: Import exception type before using it
  socranop/cli.py
Due: flake8, black, pytest

gui: Set program name with GLib.set_prgname
  socranop/gui.py
Due: flake8, black, pytest

Use Python's logging module, replacing print()
  socranop/cli.py
  socranop/common.py
  socranop/constants.py
  socranop/data/bash-completion/socranop-ctl
  socranop/data/bash-completion/socranop-gui
  socranop/data/bash-completion/socranop-installtool
  socranop/data/bash-completion/socranop-session-service
  socranop/data/man/socranop-ctl.1
  socranop/data/man/socranop-gui.1
  socranop/data/man/socranop-installtool.8
  socranop/data/man/socranop-session-service.1
  socranop/dbus.py
  socranop/dirs.py
  socranop/gui.py
  socranop/installtool.py
  socranop/notepad.py
Due: flake8, black, pytest

it: Fix FilesToDelete with importlib.resources Traversable and data
  socranop/installtool.py
Due: flake8, black, pytest

Add mypy stage to pre-commit
  .github/workflows/pre-commit-hooks.yml
  .pre-commit-config.yaml
  socranop/dbus.py
  socranop/gui.py
  socranop/installtool.py
  socranop/notepad.py
  tools/conditional-mypy
Due: flake8, black, pytest

dirs: Make @classmethod @property a global function
  socranop/dirs.py
Due: flake8, black, pytest

dirs: Use @cached_property and debug() output
  socranop/dirs.py
Due: flake8, black, pytest

dirs: Improve var name, add debug() output
  socranop/dirs.py
Due: flake8, black, pytest

dirs: Make statedir @cached_property with debug() output
  socranop/dirs.py
Due: flake8, black, pytest

it: use "from functools import"
  socranop/installtool.py
Due: flake8, black, pytest

it: Improve debug output() for resource files
  socranop/installtool.py
Due: flake8, black, pytest

dirs: prefix, datadir, configdir, statedir debug() message
  socranop/dirs.py
Due: flake8, black, pytest

HACKING.md: Remove FIXME on starting the D-Bus service
  HACKING.md
Due: none

todo: Print todo/fixme list with line numbers
  contrib/sources/todo
Due: none

todo: Improve TODO wording
  socranop/notepad.py
Due: flake8, black, pytest

it: Installing desktop and icons by just installing files
  socranop/installtool.py
Due: flake8, black, pytest

it: Remove FIXME on removal of udev rules from /etc
  socranop/installtool.py
Due: flake8, black, pytest

it: dropping shell completion files works in all install locations
  socranop/installtool.py
Due: flake8, black, pytest

PACKAGING.md: Add repology.org links for socranop
  PACKAGING.md
Due: none
