Repository socratools/socranop: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, contrib, manpages, pipenv-setup, pytest

flake8:
  name: Run flake8
  language: system
  entry: flake8

black:
  name: Run black code-formatter
  language: system
  entry: black

contrib:
  name: Update contributors.py from CONTRIBUTORS.md
  language: system
  entry: tools/contrib_to_about
  args:
  - --git-add
  pass_filenames: false

manpages:
  name: Update manpages from markdown source files
  language: system
  entry: tools/update-man-pages
  args:
  - --git-add
  pass_filenames: false

pipenv-setup:
  name: Sync pipfile dependency changes to setup.py
  language: system
  entry: pipenv-setup
  args:
  - sync
  - --pipfile
  pass_filenames: false

pytest:
  name: Run unit tests
  language: system
  entry: pytest
  pass_filenames: false

doc: Elaborate on PERMISSIONS.md
  PERMISSIONS.md
  socranop/data/man/socranop-permissions.7
Due: manpages

socranop-gui(1): Fix icon location in chrooted environments
  socranop/data/man/socranop-gui.1
  socranop/dirs.py
  socranop/installtool.py
Due: flake8, black, pytest

doc: make PERMISSIONS.md the source for socranop-permissions(7)
  .pre-commit-config.yaml
  HACKING.md
  PERMISSIONS.md
  PERMISSIONS.meta
  socranop/data/man/socranop-ctl.1
  socranop/data/man/socranop-permissions.7
  socranop/data/man/socranop-session-service.1
  socranop/installtool.py
  tools/update-man-pages
Due: flake8, black, manpages, pytest

setup: determine git_ref from git HEAD if possible
  Pipfile
  setup.py
Due: flake8, black, pipenv-setup

setup: rewrite README.md repo internal links for pypi
  setup.py
Due: flake8, black

Pipfile: Fix tox requirement to 3.x
  Pipfile
Due: pipenv-setup

PACKAGING.md: Remove FIXME regarding removal of socranop/data/
  PACKAGING.md
Due: none

it: dropping shell completion files works in all install locations
  socranop/installtool.py
Due: flake8, black, pytest

it: Installing desktop and icons by just installing files
  socranop/installtool.py
Due: flake8, black, pytest

README.md: Rename section "Contact us", and use complete phrase
  README.md
Due: none

README.md: Add section "Related web links"
  README.md
Due: none

README.md: Move install section after usage section
  README.md
Due: none

gh: Remove Python 3.6 checks on github workers
  .github/workflows/python-package.yml
Due: none

flake8: Fix E721 in the code
  socranop/installtool.py
Due: flake8, black, pytest

gh: Add test runs with Python 3.10, 3.11, 3.12
  .github/workflows/python-package.yml
  setup.py
Due: flake8, black

pandoc: Commit socranop-permissions.7 format changes
  socranop/data/man/socranop-permissions.7
Due: none

setup: Require setuptools explicitly
  .github/workflows/python-package.yml
  HACKING.md
  pyproject.toml
Due: none

black: Commit code formatting changes by black
  socranop/cli.py
  socranop/gui.py
  socranop/notepad.py
Due: flake8, black, pytest

Pipfile: lock vistir < 0.7.0
  Pipfile
Due: pipenv-setup

setup: Use license_files instead of deprecated license_file
  setup.cfg
Due: none

ci: Install libgit2-dev before pip installs pygit2
  .github/workflows/commit-checks.yaml
Due: none

Pipfile: Require pygit2 < 1.7.0 for older libgit2 on Ubuntu 22.04
  Pipfile
Due: pipenv-setup

Require Python 3.9 or later
  .github/workflows/python-package.yml
  HACKING.md
  contrib/sources/find-mistakes
  setup.py
  socranop/installtool.py
Due: flake8, black, pytest

pre-commit: Remove unused --git-add arg (a copy-paste error)
  .pre-commit-config.yaml
Due: none

Correct spelling mistakes in code comments
  .pre-commit-config.yaml
  .private-dictionary.txt
  .pylintrc
  contrib/sources/comment-spellcheck
  setup.py
  socranop/dirs.py
  socranop/gui.py
  socranop/installtool.py
  socranop/notepad.py
  tools/sort-dictionary
Due: flake8, black, pytest

doc: The argument is called --no-dbus, not --dbus
  PERMISSIONS.md
  socranop/data/man/socranop-permissions.7
Due: manpages

it: call re match m to avoid confusion with match keyword
  socranop/installtool.py
Due: flake8, black, pytest

PACKAGING.md: Replace tabs by spaces
  PACKAGING.md
Due: none

doc: Call socranop-installtool by its proper name
  README.md
Due: none

doc: Improve HACKING.md readability
  HACKING.md
Due: none

it: remove unused function findDataFiles(subdir)
  socranop/installtool.py
Due: flake8, black, pytest

PACKAGING.md: Mention Bash completions in list of installed files
  PACKAGING.md
Due: none

doc: Consistently use Soundcraft's hyphenated model names
  PERMISSIONS.md
  contrib/udev-rules/70-socranop.rules
  contrib/udev-rules/80-socranop.rules
  contrib/udev-rules/90-socranop.rules
  socranop/data/man/socranop-permissions.7
Due: manpages

Revert "Pipfile: Require pygit2 < 1.7.0 for older libgit2 on Ubuntu 22.04"
  Pipfile
Due: pipenv-setup

man: Use .MR to make man page references hyperlinks
  socranop/data/man/socranop-ctl.1
  socranop/data/man/socranop-gui.1
  socranop/data/man/socranop-session-service.1
Due: none

it: @cached_property for DBusInstallTool._session_bus
  socranop/installtool.py
Due: flake8, black, pytest

Consistent Python API for all four executables
  setup.py
  socranop/cli.py
  socranop/dbus.py
  socranop/gui.py
  socranop/installtool.py
Due: flake8, black, pytest

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  contrib: any of: CONTRIBUTORS.md
  manpages: any of: PERMISSIONS.(md|meta)
  pipenv-setup: any of: Pipfile
  pytest: any of: ^(socranop|test)/ and \.py$
